html{
    height: 100%;
}

body{
    height: 100%;
    font-family: "Open Sans";
    color: #FFF;
}

.main-header{
    width: 100%;
    height: 100vh;

    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.navigasi{
    width: 100%;
    height: 60px;
    background-color: #000;
    opacity: 0.70;

    padding-left: 100px;
    padding-top: 20px;
    color: #FFF;
    font-weight: bold;

    display: flex;
    font-family: "Open Sans";
    position: fixed;

}

.navigasi a{
    color: #FFF;
}

.navigasi li{
    padding-left: 20px;
}

.navbar-logo{
    color: #FFF;
    margin-right: 100px;
    font-size: 30px;
}

.navbar-kanan{
    margin-right: 100px;
}

.main-heading{
    padding-top: 20%;
}
.main-heading h5{
    padding-top: 12%;
    font-size: 12px;
}

.about{
    background-image: url('../img/the-games-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
}
.features{
    background-image: url('../img/features.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
}
.heading h3{
    position: absolute;
    left: 55.52%;
    right: 26.29%;
    top: 26.96%;
    bottom: 70.16%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    /* identical to box height */
    letter-spacing: 2px;

    color: #FFFFFF;
}
.heading h1{
    position: absolute;
    height: 73.64px;
    left: 55.25%;
    right: 16.22%;
    top: 30%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.fitur h2{
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 755.29px;
    top: 45%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;

    color: #FFB548;
}
.fitur p{
    position: absolute;
    left: 58.44%;
    right: 16.42%;
    top: 50.32%;
    bottom: 41.58%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    /* or 122% */
    text-align: justify;

    color: #FFFFFF;
}
.fitur h3{
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 690px;
    top: 430px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;

    color: #FFB548;
}
.fitur h4{
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 640px;
    top: 500px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;

    color: #FFB548;
}
.requirement{
    background-image: url('../img/requirements.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
}
.score{
    background-image: url('../img/top-score-bg-real.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
}

.newsletter{
    background-image: url('../img/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
}